BTNEXTGEN.SERVICES/TS360API/REST/BT.TS360WebAPI/BT.TS360API.ExternalServices/Service References/BTStockCheckServices/BTStockCheckServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://edi.btol.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://edi.btol.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://edi.btol.com/">
      <s:element name="StockCheckByParameters">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SystemID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SystemPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ItemID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StockCheckByParametersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StockCheckByParametersResult" type="tns:StockCheckResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="StockCheckResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StatusMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountIDType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemIDType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReplacementItemID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Warehouses" type="tns:ArrayOfWHS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWHS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Warehouse" nillable="true" type="tns:WHS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WHS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="WHSCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WHSDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QTYOnHand" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="QTYOnOrder" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="StockCheckByClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestClass" type="tns:StockCheckRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="StockCheckRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SystemID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SystemPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="StockCheckByClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StockCheckByClassResult" type="tns:StockCheckResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StockCheckByCart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MultilineRequest" type="tns:CartStockCheckRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CartStockCheckRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SystemID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SystemPassword" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountIDType" type="tns:AccountTypes" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TargetERP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalOrderQuantity" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LineItems" type="tns:ArrayOfLineItem" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="AccountTypes">
        <s:restriction base="s:string">
          <s:enumeration value="AccountNumber" />
          <s:enumeration value="SAN" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfLineItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LineItem" nillable="true" type="tns:LineItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LineItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ItemIDType" type="tns:ProductIDTypes" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderQuantity" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ProductIDTypes">
        <s:restriction base="s:string">
          <s:enumeration value="ISBN" />
          <s:enumeration value="BTKey" />
          <s:enumeration value="UPC" />
        </s:restriction>
      </s:simpleType>
      <s:element name="StockCheckByCartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StockCheckByCartResult" type="tns:CartStockCheckResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CartStockCheckResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StatusMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ERPResponseStatusCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountIDType" type="tns:AccountTypes" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalOrderQuantity" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LineItems" type="tns:ArrayOfResponseLineItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfResponseLineItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LineItem" nillable="true" type="tns:ResponseLineItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResponseLineItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ItemIDType" type="tns:ProductIDTypes" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderQuantity" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ERPLineStatusCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Warehousehoses" type="tns:ArrayOfWHSOHOnly" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWHSOHOnly">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Warehouse" nillable="true" type="tns:WHSOHOnly" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WHSOHOnly">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="WHSCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WHSDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QTYOnHand" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="StockCheckResponse" nillable="true" type="tns:StockCheckResponse" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="StockCheckByParametersSoapIn">
    <wsdl:part name="parameters" element="tns:StockCheckByParameters" />
  </wsdl:message>
  <wsdl:message name="StockCheckByParametersSoapOut">
    <wsdl:part name="parameters" element="tns:StockCheckByParametersResponse" />
  </wsdl:message>
  <wsdl:message name="StockCheckByClassSoapIn">
    <wsdl:part name="parameters" element="tns:StockCheckByClass" />
  </wsdl:message>
  <wsdl:message name="StockCheckByClassSoapOut">
    <wsdl:part name="parameters" element="tns:StockCheckByClassResponse" />
  </wsdl:message>
  <wsdl:message name="StockCheckByCartSoapIn">
    <wsdl:part name="parameters" element="tns:StockCheckByCart" />
  </wsdl:message>
  <wsdl:message name="StockCheckByCartSoapOut">
    <wsdl:part name="parameters" element="tns:StockCheckByCartResponse" />
  </wsdl:message>
  <wsdl:message name="StockCheckByParametersHttpPostIn">
    <wsdl:part name="SystemID" type="s:string" />
    <wsdl:part name="SystemPassword" type="s:string" />
    <wsdl:part name="AccountID" type="s:string" />
    <wsdl:part name="ItemID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="StockCheckByParametersHttpPostOut">
    <wsdl:part name="Body" element="tns:StockCheckResponse" />
  </wsdl:message>
  <wsdl:portType name="StockCheckSoap">
    <wsdl:operation name="StockCheckByParameters">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Stock Status Check by ISBN, UPC or BTKey and Customer ID</wsdl:documentation>
      <wsdl:input message="tns:StockCheckByParametersSoapIn" />
      <wsdl:output message="tns:StockCheckByParametersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StockCheckByClass">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Stock Status Check by RequestClass</wsdl:documentation>
      <wsdl:input message="tns:StockCheckByClassSoapIn" />
      <wsdl:output message="tns:StockCheckByClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StockCheckByCart">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Multiline Stock Status Request</wsdl:documentation>
      <wsdl:input message="tns:StockCheckByCartSoapIn" />
      <wsdl:output message="tns:StockCheckByCartSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="StockCheckHttpPost">
    <wsdl:operation name="StockCheckByParameters">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Stock Status Check by ISBN, UPC or BTKey and Customer ID</wsdl:documentation>
      <wsdl:input message="tns:StockCheckByParametersHttpPostIn" />
      <wsdl:output message="tns:StockCheckByParametersHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StockCheckSoap" type="tns:StockCheckSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StockCheckByParameters">
      <soap:operation soapAction="http://edi.btol.com/StockCheckByParameters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StockCheckByClass">
      <soap:operation soapAction="http://edi.btol.com/StockCheckByClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StockCheckByCart">
      <soap:operation soapAction="http://edi.btol.com/StockCheckByCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StockCheckSoap12" type="tns:StockCheckSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StockCheckByParameters">
      <soap12:operation soapAction="http://edi.btol.com/StockCheckByParameters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StockCheckByClass">
      <soap12:operation soapAction="http://edi.btol.com/StockCheckByClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StockCheckByCart">
      <soap12:operation soapAction="http://edi.btol.com/StockCheckByCart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StockCheckHttpPost" type="tns:StockCheckHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="StockCheckByParameters">
      <http:operation location="/StockCheckByParameters" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockCheck">
    <wsdl:port name="StockCheckSoap" binding="tns:StockCheckSoap">
      <soap:address location="http://edidev.btol.com/BTStockCheckServices/BTStockCheckServices.asmx" />
    </wsdl:port>
    <wsdl:port name="StockCheckSoap12" binding="tns:StockCheckSoap12">
      <soap12:address location="http://edidev.btol.com/BTStockCheckServices/BTStockCheckServices.asmx" />
    </wsdl:port>
    <wsdl:port name="StockCheckHttpPost" binding="tns:StockCheckHttpPost">
      <http:address location="http://edidev.btol.com/BTStockCheckServices/BTStockCheckServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>