BTNEXTGEN.SERVICES/TS360API/REST/BT.TS360WebAPI/BT.TS360API.ExternalServices/Service References/MARCProfilerService/MARCProfiler.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MARCProfiler" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://5.0.242.11:9090/LD1/MarcProfilerService/MARCProfiler.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://5.0.242.11:9090/LD1/MarcProfilerService/MARCProfiler.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMARCProfiler_GetMARCFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMARCFile" />
  </wsdl:message>
  <wsdl:message name="IMARCProfiler_GetMARCFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMARCFileResponse" />
  </wsdl:message>
  <wsdl:message name="IMARCProfiler_SendMARCFileFTP_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMARCFileFTP" />
  </wsdl:message>
  <wsdl:message name="IMARCProfiler_SendMARCFileFTP_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMARCFileFTPResponse" />
  </wsdl:message>
  <wsdl:message name="IMARCProfiler_SendMARCFileFTPTest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMARCFileFTPTest" />
  </wsdl:message>
  <wsdl:message name="IMARCProfiler_SendMARCFileFTPTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMARCFileFTPTestResponse" />
  </wsdl:message>
  <wsdl:message name="IMARCProfiler_SendMARCFileSP_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMARCFileSP" />
  </wsdl:message>
  <wsdl:portType name="IMARCProfiler">
    <wsdl:operation name="GetMARCFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IMARCProfiler/GetMARCFile" message="tns:IMARCProfiler_GetMARCFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMARCProfiler/GetMARCFileResponse" message="tns:IMARCProfiler_GetMARCFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMARCFileFTP">
      <wsdl:input wsaw:Action="http://tempuri.org/IMARCProfiler/SendMARCFileFTP" message="tns:IMARCProfiler_SendMARCFileFTP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMARCProfiler/SendMARCFileFTPResponse" message="tns:IMARCProfiler_SendMARCFileFTP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMARCFileFTPTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMARCProfiler/SendMARCFileFTPTest" message="tns:IMARCProfiler_SendMARCFileFTPTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMARCProfiler/SendMARCFileFTPTestResponse" message="tns:IMARCProfiler_SendMARCFileFTPTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMARCFileSP">
      <wsdl:input wsaw:Action="http://tempuri.org/IMARCProfiler/SendMARCFileSP" message="tns:IMARCProfiler_SendMARCFileSP_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMARCProfiler" type="tns:IMARCProfiler">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMARCFile">
      <soap:operation soapAction="http://tempuri.org/IMARCProfiler/GetMARCFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMARCFileFTP">
      <soap:operation soapAction="http://tempuri.org/IMARCProfiler/SendMARCFileFTP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMARCFileFTPTest">
      <soap:operation soapAction="http://tempuri.org/IMARCProfiler/SendMARCFileFTPTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMARCFileSP">
      <soap:operation soapAction="http://tempuri.org/IMARCProfiler/SendMARCFileSP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MARCProfiler">
    <wsdl:port name="BasicHttpBinding_IMARCProfiler" binding="tns:BasicHttpBinding_IMARCProfiler">
      <soap:address location="http://5.0.242.11:9090/LD1/MarcProfilerService/MARCProfiler.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>