BTNEXTGEN.BIZTALK/BTNextGen.Biztalk.Product/BTNextGen.Biztalk.Product/Schema/procCSAckProductsTableType.dbo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns3="http://schemas.microsoft.com/Sql/2008/05/Types/TableTypes/dbo" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/Types/TableTypes/dbo" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">TableType.dbo</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="udtCSAckProducts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="BTKey" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CSLoadError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="udtCSAckProducts" nillable="true" type="ns3:udtCSAckProducts" />
  <xs:complexType name="ArrayOfudtCSAckProducts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="udtCSAckProducts" type="ns3:udtCSAckProducts" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfudtCSAckProducts" nillable="true" type="ns3:ArrayOfudtCSAckProducts" />
</xs:schema>