BTNEXTGEN.BIZTALK/BTNextGen.BizTalk.PaymentProcessing/BTNextGen.BizTalk.PaymentProcessing.ERPTXNS/PaymentProcessing_edi_btol_com.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://edi.btol.com/" elementFormDefault="qualified" targetNamespace="http://edi.btol.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation=".\PaymentProcessing__x2eBizTalk_x2ePaymentProcessing_x2eERPTXNs_x2eERPccResponse.xsd" namespace="BTNextGen.BizTalk.PaymentProcessing.ERPTXNs.ERPccResponse" />
  <xs:import schemaLocation=".\PaymentProcessing_n_x2eBizTalk_x2ePaymentProcessing_x2eERPTXNs_x2eERPccRequest.xsd" namespace="BTNextGen.BizTalk.PaymentProcessing.ERPTXNs.ERPccRequest" />
  <xs:element name="CallCyberSourceByParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="AuthService" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="CaptureService" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="AuthReversalService" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="CreditService" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="purchasingLevel" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="merchantID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="merchantReferenceCode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="subscriptionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="requestID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="requestToken" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="shipFromPostal" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="shipToCountry" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="shipToPostal" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="shipToState" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="item_0_unitprice" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="item_0_quantity" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="item_0_taxamount" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="item_0_taxrate" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="purchaseTotals_currency" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="invoiceHeader_userPO" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="invoiceHeader_amexDataTAA1" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="invoiceHeader_merchantDescriptor" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="invoiceHeader_merchantDescriptorContact" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="notificationEmail" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="SimpleAuth" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallCyberSourceByParametersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" xmlns:q1="BTNextGen.BizTalk.PaymentProcessing.ERPTXNs.ERPccResponse" ref="q1:CallCyberSourceByParametersResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallCyberSource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" xmlns:q2="BTNextGen.BizTalk.PaymentProcessing.ERPTXNs.ERPccRequest" ref="q2:ERPRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallCyberSourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" xmlns:q3="BTNextGen.BizTalk.PaymentProcessing.ERPTXNs.ERPccResponse" ref="q3:CallCyberSourceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>