BTNEXTGEN.BIZTALK/BTNextGen.Biztalk.ListTransferCarts/BTNextGen.Biztalk.ListTransferCarts/LT_SQLADD.TypedProcedure.dbo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns3="http://schemas.microsoft.com/Sql/2008/05/Types/TableTypes/dbo" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/TypedProcedures/dbo" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation=".\LT_SQLADD.TableType.dbo.xsd" namespace="http://schemas.microsoft.com/Sql/2008/05/Types/TableTypes/dbo" />
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">TypedProcedure.dbo</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="procListTransferInsertBaskets">
    <xs:annotation>
      <xs:documentation>
        <doc:action xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">TypedProcedure/dbo/procListTransferInsertBaskets</doc:action>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="parBasket" nillable="true" type="ns3:ArrayOfListTransferBasketsType" />
        <xs:element minOccurs="0" maxOccurs="1" name="parBasketDetails" nillable="true" type="ns3:ArrayOfListTransferBasketDetailsType" />
        <xs:element minOccurs="0" maxOccurs="1" name="Return" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="BasketLineCount" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="BasketOrderFormGuidXXX" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="procListTransferInsertBasketsResponse">
    <xs:annotation>
      <xs:documentation>
        <doc:action xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">TypedProcedure/dbo/procListTransferInsertBaskets/response</doc:action>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ReturnValue" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Return" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="BasketLineCount" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="BasketOrderFormGuidXXX" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>