BTNEXTGEN.BIZTALK/BTNextGen.Biztalk.ListTransferCarts/BTNextGen.Biztalk.ListTransferCarts/TableType.dbo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns3="http://schemas.microsoft.com/Sql/2008/05/Types/TableTypes/dbo" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/Types/TableTypes/dbo" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">TableType.dbo</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="ListTransferBasketsType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CartName" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="80" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="GroupName" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CartNote" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="200" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CSGuid" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListTransferBasketsType" nillable="true" type="ns3:ListTransferBasketsType" />
  <xs:complexType name="ArrayOfListTransferBasketsType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListTransferBasketsType" type="ns3:ListTransferBasketsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListTransferBasketsType" nillable="true" type="ns3:ArrayOfListTransferBasketsType" />
  <xs:complexType name="ListTransferBasketDetailsType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ItemCode" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Isbn" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Upc" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="BtKey" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Quantity" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListTransferBasketDetailsType" nillable="true" type="ns3:ListTransferBasketDetailsType" />
  <xs:complexType name="ArrayOfListTransferBasketDetailsType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListTransferBasketDetailsType" type="ns3:ListTransferBasketDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListTransferBasketDetailsType" nillable="true" type="ns3:ArrayOfListTransferBasketDetailsType" />
</xs:schema>