BTNEXTGEN.BIZTALK/BTNextGen.Biztalk.ERPAccounts/BTNextGen.Biztalk.ERPAccounts.Schemas/ProcedureResultSet.dbo.procCommerceServerGetAccounts1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns3="http://schemas.microsoft.com/Sql/2008/05/ProceduresResultSets/dbo/procCommerceServerGetAccounts" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/ProceduresResultSets/dbo/procCommerceServerGetAccounts" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">ProcedureResultSet.dbo.procCommerceServerGetAccounts</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="StoredProcedureResultSet0">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="u_bt_account_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="u_account_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="b_is_billing_account" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="b_is_shipping_account" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="u_shipping_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="u_billing_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="b_is_home_delivery" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="u_primary_warehouse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="u_warehouses" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="u_primary_payment_option" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="u_product_type" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="i_max_copy_per_line" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="u_san_suffix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="u_secondary_warehouse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="u_account_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="u_bill_to_account_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="b_is_TOLAS" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="u_erp_account_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="u_exclusive_item_group" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="u_inventory_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="u_reserve_inventory_number" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="u_sop_price_plan_list" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="b_check_reserve_flag" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="i_minimum_margin" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="u_accounts" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="LoadStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="u_account8_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoredProcedureResultSet0" nillable="true" type="ns3:StoredProcedureResultSet0" />
  <xs:complexType name="ArrayOfStoredProcedureResultSet0">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoredProcedureResultSet0" type="ns3:StoredProcedureResultSet0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoredProcedureResultSet0" nillable="true" type="ns3:ArrayOfStoredProcedureResultSet0" />
</xs:schema>