BTNEXTGEN.BIZTALK/BTNextGen.BizTalk.Schemas.Common/BTNextGen.BizTalk.CS.Profiles.Schemas/IProfile_schemas_datacontract_org_2004_07_IProfiles.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IProfiles" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IProfiles" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfActiveCreditCards">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActiveCreditCards" nillable="true" type="tns:ActiveCreditCards" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActiveCreditCards" nillable="true" type="tns:ArrayOfActiveCreditCards" />
  <xs:complexType name="ActiveCreditCards">
    <xs:sequence>
      <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cardID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="card_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="erp_account_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="expiration_month" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="expiration_year" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="is_Tolas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_4_digits" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActiveCreditCards" nillable="true" type="tns:ActiveCreditCards" />
</xs:schema>