BTNEXTGEN.SERVICES/ESPWinServices/ESPWinServices/DistRequests.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 2 (http://www.altova.com) by Marvin Perkins (private) -->
<!--W3C Schema generated by XMLSpy v2010 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns="BTNextGen.ESP.DistributionRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="BTNextGen.ESP.DistributionRequest" elementFormDefault="qualified">
	<xs:element name="DistributionRequests">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DistributionRequest" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ESPLibraryID" type="xs:string"/>
							<xs:element name="UserName" type="xs:string"/>
							<xs:element name="UserGuid" type="xs:string"/>
							<xs:element name="CartID" type="xs:string"/>
							<xs:element name="BasketName" type="xs:string"/>
							<xs:element name="FundMonitoring" type="xs:string"/>
							<xs:element name="Items">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="items" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="LineItemID" type="xs:string"/>
													<xs:element name="BTKey" type="xs:string"/>
													<xs:element name="fundid" type="xs:string" minOccurs="0"/>
													<xs:element name="fundcode" type="xs:string" minOccurs="0"/>
													<xs:element name="price" type="xs:string" minOccurs="0"/>
													<xs:element name="quantity" type="xs:string" minOccurs="0"/>
                          <xs:element name="bisac" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Branches">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="branches" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="branchid" type="xs:string"/>
													<xs:element name="code" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
