BTNEXTGEN.SERVICES/ESPWinServices/ESPWinServices/RankRequests.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2010 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns="BTNextGen.ESP.RankRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="BTNextGen.ESP.RankRequest" elementFormDefault="qualified">
	<xs:element name="RankRequests">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RankRequest" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ESPLibraryID" type="xs:string"/>
							<xs:element name="UserName" type="xs:string"/>
							<xs:element name="UserGuid" type="xs:string"/>
							<xs:element name="CartID" type="xs:string"/>
							<xs:element name="BasketName" type="xs:string"/>
							<xs:element name="Detail">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="items" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="LineItemID" type="xs:string"/>
													<xs:element name="BTKey" type="xs:string"/>
                          <xs:element name="bisac" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
