BTNEXTGEN.SERVICES/TS360API/REST/BT.TS360WebAPI/BT.TS360API.WebAPI/Service References/ServiceReferenceUserAlerts/UserAlerts.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserAlerts" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://5.0.242.11:9090/LD2/IUserAlerts/UserAlerts.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://5.0.242.11:9090/LD2/IUserAlerts/UserAlerts.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://5.0.242.11:9090/LD2/IUserAlerts/UserAlerts.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/IUserAlerts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserAlerts_CreateUserAlertMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserAlertMessage" />
  </wsdl:message>
  <wsdl:message name="IUserAlerts_CreateUserAlertMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserAlertMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IUserAlerts_GetUserAlertMessageTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserAlertMessageTemplate" />
  </wsdl:message>
  <wsdl:message name="IUserAlerts_GetUserAlertMessageTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserAlertMessageTemplateResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserAlerts">
    <wsdl:operation name="CreateUserAlertMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserAlerts/CreateUserAlertMessage" message="tns:IUserAlerts_CreateUserAlertMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserAlerts/CreateUserAlertMessageResponse" message="tns:IUserAlerts_CreateUserAlertMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserAlertMessageTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserAlerts/GetUserAlertMessageTemplate" message="tns:IUserAlerts_GetUserAlertMessageTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserAlerts/GetUserAlertMessageTemplateResponse" message="tns:IUserAlerts_GetUserAlertMessageTemplate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserAlerts" type="tns:IUserAlerts">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUserAlertMessage">
      <soap:operation soapAction="http://tempuri.org/IUserAlerts/CreateUserAlertMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserAlertMessageTemplate">
      <soap:operation soapAction="http://tempuri.org/IUserAlerts/GetUserAlertMessageTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserAlerts">
    <wsdl:port name="BasicHttpBinding_IUserAlerts" binding="tns:BasicHttpBinding_IUserAlerts">
      <soap:address location="http://5.0.242.11:9090/LD2/IUserAlerts/UserAlerts.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>