BTNEXTGEN.SERVICES/BTPricingServices/BTPricingServices/App_Data/BTPricingServicesAppData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 2 (http://www.altova.com) by Marvin Perkins (private) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AppData">
		<xs:annotation>
			<xs:documentation>Dynamic Tables, Classes and Elements used by this Application</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Warehouse" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Code" type="xs:string"/>
							<xs:element name="Description" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="StatusMessage" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Code" type="xs:string"/>
							<xs:element name="Description" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AccountIDType" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Code" type="xs:string"/>
							<xs:element name="Description" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ItemIDType" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Code" type="xs:string"/>
							<xs:element name="Description" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="EmailRecipient" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="xs:string"/>
							<xs:element name="EmailAddress" type="xs:string"/>
							<xs:element name="Group" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
