BTNEXTGEN.SERVICES/TS360API/REST/BT.TS360WebAPI/BT.TS360API.Common/Web References/BTPricingService/BTPricingServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://edi.btol.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://edi.btol.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://edi.btol.com/">
      <s:element name="PricingRequestByParameters">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SystemID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SystemPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WHSCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ItemID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Quantity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnFlag" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PriceKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProductLine" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ListPrice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AcceptableDiscount" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PricingRequestByParametersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PricingRequestByParametersResult" type="tns:PricingResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PricingResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StatusMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WHSCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ItemCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemsList" type="tns:ArrayOfItemResponseDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfItemResponseDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:ItemResponseDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ItemResponseDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ItemID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DiscountPercent" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DiscountPrice" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="LineStatusMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PricingRequestByClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestClass" type="tns:PricingRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PricingRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SystemID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SystemPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WHSCOD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemList" type="tns:ArrayOfItemRequestDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfItemRequestDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ItemRequestDetail" nillable="true" type="tns:ItemRequestDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ItemRequestDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ItemId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PriceKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductLine" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ListPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="AcceptableDiscount" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="PricingRequestByClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PricingRequestByClassResult" type="tns:PricingResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PricingResponse" nillable="true" type="tns:PricingResponse" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PricingRequestByParametersSoapIn">
    <wsdl:part name="parameters" element="tns:PricingRequestByParameters" />
  </wsdl:message>
  <wsdl:message name="PricingRequestByParametersSoapOut">
    <wsdl:part name="parameters" element="tns:PricingRequestByParametersResponse" />
  </wsdl:message>
  <wsdl:message name="PricingRequestByClassSoapIn">
    <wsdl:part name="parameters" element="tns:PricingRequestByClass" />
  </wsdl:message>
  <wsdl:message name="PricingRequestByClassSoapOut">
    <wsdl:part name="parameters" element="tns:PricingRequestByClassResponse" />
  </wsdl:message>
  <wsdl:message name="PricingRequestByParametersHttpPostIn">
    <wsdl:part name="SystemID" type="s:string" />
    <wsdl:part name="SystemPassword" type="s:string" />
    <wsdl:part name="AccountID" type="s:string" />
    <wsdl:part name="WHSCode" type="s:string" />
    <wsdl:part name="ItemID" type="s:string" />
    <wsdl:part name="Quantity" type="s:string" />
    <wsdl:part name="ReturnFlag" type="s:string" />
    <wsdl:part name="PriceKey" type="s:string" />
    <wsdl:part name="ProductLine" type="s:string" />
    <wsdl:part name="ListPrice" type="s:string" />
    <wsdl:part name="AcceptableDiscount" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PricingRequestByParametersHttpPostOut">
    <wsdl:part name="Body" element="tns:PricingResponse" />
  </wsdl:message>
  <wsdl:portType name="BTPricingServiceSoap">
    <wsdl:operation name="PricingRequestByParameters">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Tolas Pricing Request for a Single Item by UPC or BTKey (with details) and AccountID</wsdl:documentation>
      <wsdl:input message="tns:PricingRequestByParametersSoapIn" />
      <wsdl:output message="tns:PricingRequestByParametersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PricingRequestByClass">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pricing by RequestClass</wsdl:documentation>
      <wsdl:input message="tns:PricingRequestByClassSoapIn" />
      <wsdl:output message="tns:PricingRequestByClassSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BTPricingServiceHttpPost">
    <wsdl:operation name="PricingRequestByParameters">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Tolas Pricing Request for a Single Item by UPC or BTKey (with details) and AccountID</wsdl:documentation>
      <wsdl:input message="tns:PricingRequestByParametersHttpPostIn" />
      <wsdl:output message="tns:PricingRequestByParametersHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BTPricingServiceSoap" type="tns:BTPricingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PricingRequestByParameters">
      <soap:operation soapAction="http://edi.btol.com/PricingRequestByParameters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PricingRequestByClass">
      <soap:operation soapAction="http://edi.btol.com/PricingRequestByClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BTPricingServiceSoap12" type="tns:BTPricingServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PricingRequestByParameters">
      <soap12:operation soapAction="http://edi.btol.com/PricingRequestByParameters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PricingRequestByClass">
      <soap12:operation soapAction="http://edi.btol.com/PricingRequestByClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BTPricingServiceHttpPost" type="tns:BTPricingServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="PricingRequestByParameters">
      <http:operation location="/PricingRequestByParameters" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BTPricingService">
    <wsdl:port name="BTPricingServiceSoap" binding="tns:BTPricingServiceSoap">
      <soap:address location="http://edidev.btol.com/BTPricingServices/BTPricingServices.asmx" />
    </wsdl:port>
    <wsdl:port name="BTPricingServiceSoap12" binding="tns:BTPricingServiceSoap12">
      <soap12:address location="http://edidev.btol.com/BTPricingServices/BTPricingServices.asmx" />
    </wsdl:port>
    <wsdl:port name="BTPricingServiceHttpPost" binding="tns:BTPricingServiceHttpPost">
      <http:address location="http://edidev.btol.com/BTPricingServices/BTPricingServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>