BTNEXTGEN.BIZTALK/BTNextGen.BizTalk.BTEPricingUpdates/BTNextGen.BizTalk.BTEPricingUpdates/BTEPRCUPDTableType.dbo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns3="http://schemas.microsoft.com/Sql/2008/05/Types/TableTypes/dbo" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/Types/TableTypes/dbo" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">TableType.dbo</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="utblBasketPricingTOLASPricingUpdates">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="BTEKey" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="19" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ShipToAccount" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ProductCode" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="2" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="VendorNumber" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="AccumulatorType" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="6" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ItemGroupPriceKey" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="utblBasketPricingTOLASPricingUpdates" nillable="true" type="ns3:utblBasketPricingTOLASPricingUpdates" />
  <xs:complexType name="ArrayOfutblBasketPricingTOLASPricingUpdates">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="utblBasketPricingTOLASPricingUpdates" type="ns3:utblBasketPricingTOLASPricingUpdates" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfutblBasketPricingTOLASPricingUpdates" nillable="true" type="ns3:ArrayOfutblBasketPricingTOLASPricingUpdates" />
</xs:schema>