BTNEXTGEN.SERVICES/TS360API/REST/BT.TS360WebAPI/BT.TS360API.WebAPI/Service References/ServiceReferencePunchOut/PunchOutService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="BTNextGen" elementFormDefault="qualified" targetNamespace="BTNextGen" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ts360dev3.baker-taylor.com/_layouts/PunchOutService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BTNextGen.Commerce.Portal.UI.Profiles.AjaxServices.Contracts" />
  <xs:element name="CreateNewUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orgId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BTNextGen.Commerce.Portal.UI.Profiles.AjaxServices.Contracts" minOccurs="0" name="CreateNewUserResult" nillable="true" type="q1:CreateUserResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>