BTNEXTGEN.BIZTALK/BTNextGen.BizTalk.ERPOrders/BTNextGen.BizTalk.ERPOrders/POAckLinesWHSProcedure.dbo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns4="http://schemas.datacontract.org/2004/07/System.Data" xmlns:ns3="http://schemas.microsoft.com/Sql/2008/05/Types/TableTypes/dbo" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/Procedures/dbo" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation=".\POAckLinesWHSTableType.dbo.xsd" namespace="http://schemas.microsoft.com/Sql/2008/05/Types/TableTypes/dbo" />
  <xs:import schemaLocation=".\POAckLinesWHSDataSetSchema.xsd" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">Procedure.dbo</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="procOrderAcknowledgementSetBasketLineItems">
    <xs:annotation>
      <xs:documentation>
        <doc:action xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">Procedure/dbo/procOrderAcknowledgementSetBasketLineItems</doc:action>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="BasketLineItems" nillable="true" type="ns3:ArrayOfutblOrderAcknowledgementBasketLineItems" />
        <xs:element minOccurs="0" maxOccurs="1" name="BasketLineShippedItems" nillable="true" type="ns3:ArrayOfutblOrderAcknowledgementBasketLineShippedQuantities" />
        <xs:element minOccurs="0" maxOccurs="1" name="ReturnLiteral" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="procOrderAcknowledgementSetBasketLineItemsResponse">
    <xs:annotation>
      <xs:documentation>
        <doc:action xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">Procedure/dbo/procOrderAcknowledgementSetBasketLineItems/response</doc:action>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="procOrderAcknowledgementSetBasketLineItemsResult" nillable="true" type="ns4:ArrayOfDataSet" />
        <xs:element minOccurs="1" maxOccurs="1" name="ReturnValue" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="ReturnLiteral" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>