BTNEXTGEN.BIZTALK/BTNextGen.Biztalk.BasketMigration/BTNextGen.Biztalk.BasketMigration/ProfilesR2_tempuri_org.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation=".\ProfilesR2_schemas_datacontract_org_2004_07_IProfilesR2.xsd" namespace="http://schemas.datacontract.org/2004/07/IProfilesR2" />
  <xs:import schemaLocation=".\ProfilesR2_schemas_microsoft_com_2003_10_Serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="VerifyUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IProfilesR2" minOccurs="0" name="VerifyCredentialsList" nillable="true" type="q1:VerifyUserCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IProfilesR2" minOccurs="0" name="VerifyUserResult" nillable="true" type="q2:VerifyUserCredentialsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyUserPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IProfilesR2" minOccurs="0" name="VerifyCredentialsList" nillable="true" type="q3:VerifyCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyUserPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IProfilesR2" minOccurs="0" name="VerifyUserPasswordResult" nillable="true" type="q4:VerifyCredentialsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBasketDatasetXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="request" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBasketDatasetXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBasketDatasetXMLResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>