BTNEXTGEN.BIZTALK/BTNextGen.Biztalk.BasketMigration/BTNextGen.Biztalk.BasketMigration/ProfilesR2_schemas_datacontract_org_2004_07_IProfilesR2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IProfilesR2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IProfilesR2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VerifyUserCredentials">
    <xs:sequence>
      <xs:element minOccurs="0" name="VerifyUserid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VerifyUserCredentials" nillable="true" type="tns:VerifyUserCredentials" />
  <xs:complexType name="VerifyUserCredentialsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserGUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VerifyStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VerifyUserCredentialsResponse" nillable="true" type="tns:VerifyUserCredentialsResponse" />
  <xs:complexType name="VerifyCredentials">
    <xs:sequence>
      <xs:element minOccurs="0" name="VerifyPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VerifyUserid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VerifyCredentials" nillable="true" type="tns:VerifyCredentials" />
  <xs:complexType name="VerifyCredentialsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserGUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VerifyStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VerifyCredentialsResponse" nillable="true" type="tns:VerifyCredentialsResponse" />
</xs:schema>