BTNEXTGEN.BIZTALK/BTNextGen.Biztalk.PromotionsExtract/PromotionsExtract/IPromotion_emas_datacontract_org_2004_07_BTNextGen_Services_IPromotions.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BTNextGen.Services.IPromotions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BTNextGen.Services.IPromotions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPromotion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Promotion" nillable="true" type="tns:Promotion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPromotion" nillable="true" type="tns:ArrayOfPromotion" />
  <xs:complexType name="Promotion">
    <xs:sequence>
      <xs:element minOccurs="0" name="PromoDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromoEndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromoName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromoStartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromoType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Promotion" nillable="true" type="tns:Promotion" />
</xs:schema>