BTNEXTGEN.BIZTALK/BTNextGen.Biztalk.PromotionsExtract/PromotionsExtract/IPromotion_tempuri_org.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation=".\IPromotion_emas_datacontract_org_2004_07_BTNextGen_Services_IPromotions.xsd" namespace="http://schemas.datacontract.org/2004/07/BTNextGen.Services.IPromotions" />
  <xs:element name="GetPromotions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPromotionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BTNextGen.Services.IPromotions" minOccurs="0" name="GetPromotionsResult" nillable="true" type="q1:ArrayOfPromotion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>