BTNEXTGEN.BIZTALK/BTNextGen.Biztalk.CartMigration/CartMigration/IOrder_schemas_datacontract_org_2004_07_BTNextGen_Services_IOrders.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BTNextGen.Services.IOrders" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BTNextGen.Services.IOrders" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BasketDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountInventoryReserveNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountInventoryType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountWarehouseList" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BasketCreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BasketIsBTCart" type="xs:boolean" />
      <xs:element minOccurs="0" name="BasketIsTolas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BasketModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BasketNote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BasketPONumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BasketSpecialInstructions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BasketStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BasketStoreGiftWrapFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="BasketStoreOrderFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="BasketStoreProcessingFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="BasketStoreShippingFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="BasketTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="CSBookAccountId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CSEntertainmentAccountId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CSUserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomeDeliveryAccountId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomeDeliveryAddressType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsHomeDeliveryIndicator" type="xs:boolean" />
      <xs:element minOccurs="0" name="LegacyBasketId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LegacyBasketName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LegacySourceSystem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineItemList" nillable="true" type="tns:ArrayOfLineItemDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasketDetails" nillable="true" type="tns:BasketDetails" />
  <xs:complexType name="ArrayOfLineItemDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineItemDetails" nillable="true" type="tns:LineItemDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLineItemDetails" nillable="true" type="tns:ArrayOfLineItemDetails" />
  <xs:complexType name="LineItemDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="BTBibNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BTGiftWrapCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BTGiftWrapMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BTItemType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BTKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BTTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BTTitleEditionVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BTVolumeSet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LegacyBasketId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LegacyCreatedDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LegacyLineItemId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LegacyModifiedDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LinePONumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="PlacedPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductCatalog" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineItemDetails" nillable="true" type="tns:LineItemDetails" />
  <xs:complexType name="BasketDetailsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LegacyBasketId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LegacySourceSystem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoadStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasketDetailsResponse" nillable="true" type="tns:BasketDetailsResponse" />
  <xs:complexType name="BasketDetailsCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BasketDetails" nillable="true" type="tns:BasketDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasketDetailsCollection" nillable="true" type="tns:BasketDetailsCollection" />
  <xs:complexType name="BasketDetailsResponseCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BasketDetailsResponse" nillable="true" type="tns:BasketDetailsResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasketDetailsResponseCollection" nillable="true" type="tns:BasketDetailsResponseCollection" />
</xs:schema>