BTNEXTGEN.BIZTALK/BTNextGen.Biztalk.CartMigration/CartMigration/IOrder_tempuri_org.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!--Warning: Schema changed to permit compilation in BizTalk project.-->
  <xs:import schemaLocation=".\IOrder_schemas_datacontract_org_2004_07_BTNextGen_Services_IOrders.xsd" namespace="http://schemas.datacontract.org/2004/07/BTNextGen.Services.IOrders" />
  <xs:element name="CreateLegacyBasket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BTNextGen.Services.IOrders" minOccurs="0" name="basketList" nillable="true" type="q1:BasketDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLegacyBasketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BTNextGen.Services.IOrders" minOccurs="0" name="CreateLegacyBasketResult" nillable="true" type="q2:BasketDetailsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLegacyBaskets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BTNextGen.Services.IOrders" minOccurs="0" name="basketList" nillable="true" type="q3:BasketDetailsCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLegacyBasketsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BTNextGen.Services.IOrders" minOccurs="0" name="CreateLegacyBasketsResult" nillable="true" type="q4:BasketDetailsResponseCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgedBaskets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="purgeBasketThresholdInDays" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxBatchSize" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgedBasketsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAgedBasketsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <!--Warning: Changed <xs:element ref="xs:schema" xmlns:xs="http://www.w3.org/2001/XMLSchema" /> to <xs:any xmlns:xs="http://www.w3.org/2001/XMLSchema" /> to permit compilation.-->
              <xs:any />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>