BTNEXTGEN.BIZTALK/BTNextGen.Biztalk.BAMAlerts/BTNextGen.Biztalk.BAMAlerts/Schema/ProcedureResultSet.dbo.procGetNoAckERPOrdersBAM.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns3="http://schemas.microsoft.com/Sql/2008/05/ProceduresResultSets/dbo/procGetNoAckERPOrdersBAM" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/ProceduresResultSets/dbo/procGetNoAckERPOrdersBAM" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">ProcedureResultSet.dbo.procGetNoAckERPOrdersBAM</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="StoredProcedureResultSet0_eb5d83">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="RecordID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="ActivityID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PONum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TransNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AccountNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TargetERP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PORcvd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="POSentERP" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="ERPAckRcv" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="NGRHeaderUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="NGRLineUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="CSAckUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="LastModified" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoredProcedureResultSet0" nillable="true" type="ns3:StoredProcedureResultSet0_eb5d83" />
  <xs:complexType name="ArrayOfStoredProcedureResultSet0_eb5d83">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoredProcedureResultSet0" type="ns3:StoredProcedureResultSet0_eb5d83" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoredProcedureResultSet0" nillable="true" type="ns3:ArrayOfStoredProcedureResultSet0_eb5d83" />
</xs:schema>