BTNEXTGEN.SERVICES/ESPWinServices/ESPWinServices/Service References/UserAlertsService/UserAlerts2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IUserAlerts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IUserAlerts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="AlertMessageTemplateIDEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="BTFirstLookCDMS" />
      <xs:enumeration value="MarcDownloadSP" />
      <xs:enumeration value="SlipReport" />
      <xs:enumeration value="HoldingsFile" />
      <xs:enumeration value="BTFirstLooksCATS" />
      <xs:enumeration value="MassQuantUpdate" />
      <xs:enumeration value="HoldingsDupChkInactive" />
      <xs:enumeration value="HoldingsDupChkActive" />
      <xs:enumeration value="QuotationsExpireNotice" />
      <xs:enumeration value="ESPRankComplete" />
      <xs:enumeration value="ESPRankFailLibrary" />
      <xs:enumeration value="ESPRankFailSystem" />
      <xs:enumeration value="DownloadCartComplete" />
      <xs:enumeration value="DownloadCartFail" />
      <xs:enumeration value="QuotationReport" />
      <xs:enumeration value="SingleLineReport" />
      <xs:enumeration value="SplitCart" />
      <xs:enumeration value="ApplyDuplicates" />
      <xs:enumeration value="BatchEntryComplete" />
      <xs:enumeration value="BatchEntryFail" />
      <xs:enumeration value="BatchEntryCompleteErrors" />
      <xs:enumeration value="CopyCart" />
      <xs:enumeration value="MergeCart" />
      <xs:enumeration value="MoveCart" />
      <xs:enumeration value="ApplyGridTemplate" />
      <xs:enumeration value="ESPDistWFundComplete" />
      <xs:enumeration value="ESPDistWFundFail" />
      <xs:enumeration value="ESPDistWOFundComplete" />
      <xs:enumeration value="ESPDistWOFundFail" />
      <xs:enumeration value="ESPFundComplete" />
      <xs:enumeration value="ESPFundFail" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AlertMessageTemplateIDEnum" nillable="true" type="tns:AlertMessageTemplateIDEnum" />
  <xs:complexType name="CreateUserAlertMessageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateUserAlertMessageResponse" nillable="true" type="tns:CreateUserAlertMessageResponse" />
  <xs:complexType name="GetUserAlertMessageTemplateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlertMessageTemplate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfigReferenceValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetUserAlertMessageTemplateResponse" nillable="true" type="tns:GetUserAlertMessageTemplateResponse" />
</xs:schema>