BTNEXTGEN.SERVICES/MARCProfilerService/MARCProfilerService/Service References/ServiceReference1.UserAlerts/UserAlerts2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IUserAlerts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IUserAlerts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="AlertMessageTemplateIDEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="BTFirstLookCDMS" />
      <xs:enumeration value="MarcDownloadSP" />
      <xs:enumeration value="SlipReport" />
      <xs:enumeration value="HoldingsFile" />
      <xs:enumeration value="BTFirstLooksCATS" />
      <xs:enumeration value="MassQuantUpdate" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AlertMessageTemplateIDEnum" nillable="true" type="tns:AlertMessageTemplateIDEnum" />
  <xs:complexType name="CreateUserAlertMessageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateUserAlertMessageResponse" nillable="true" type="tns:CreateUserAlertMessageResponse" />
  <xs:complexType name="GetUserAlertMessageTemplateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlertMessageTemplate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfigReferenceValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetUserAlertMessageTemplateResponse" nillable="true" type="tns:GetUserAlertMessageTemplateResponse" />
</xs:schema>