BTNEXTGEN.SERVICES/TS360API/REST/BT.TS360WebAPI/BT.TS360API.OAuth/OAuth/OAuthResourceServer/Service References/TS360OAuthService/OAuthService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="BTNextGen" elementFormDefault="qualified" targetNamespace="BTNextGen" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vmae743452:6581/_layouts/OAuthService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BTNextGen.Commerce.Portal.UI.Profiles.AjaxServices.Contracts" />
  <xs:element name="GetUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BTNextGen.Commerce.Portal.UI.Profiles.AjaxServices.Contracts" minOccurs="0" name="GetUserInfoResult" nillable="true" type="q1:OAuthResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>