BTNEXTGEN.SERVICES/TS360API/REST/BT.TS360WebAPI/BT.TS360API.OAuth/OAuth/OAuthResourceServer/Service References/TS360OAuthService/OAuthService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BTNextGen.Commerce.Portal.UI.Profiles.AjaxServices.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BTNextGen.Commerce.Portal.UI.Profiles.AjaxServices.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OAuthResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarketType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserAlias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OAuthResponse" nillable="true" type="tns:OAuthResponse" />
</xs:schema>