BTNEXTGEN.BIZTALK/BTNextGen.Biztalk.Inventory/BTNextGen.Biztalk.Inventory.Schema/InventoryNotificationNotification.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/Sql/2008/05/Notification/" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/Notification/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">Notification</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="Notification">
    <xs:annotation>
      <xs:documentation>
        <doc:action xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">Notification</doc:action>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Info" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Source" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>