BTNEXTGEN.BIZTALK/BTNextGen.BizTalk.ERPOrders/BTNextGen.BizTalk.ERPOrders/Schemas/NGAckLinesUpTableType.dbo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns3="http://schemas.microsoft.com/Sql/2008/05/Types/TableTypes/dbo" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/Types/TableTypes/dbo" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">TableType.dbo</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="utblOrderAcknowledgementBasketLineItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="TransmissionNumber" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="LineNumber" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="BTShippedQuantity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="OrderedQuantity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Status" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="64" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="BTUPC" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="14" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="BTKey" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="BTISBN" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="13" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ReplacementBTKey" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="BTWarehouse" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="BackorderQuantity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="BTCancelledQuantity" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="utblOrderAcknowledgementBasketLineItems" nillable="true" type="ns3:utblOrderAcknowledgementBasketLineItems" />
  <xs:complexType name="ArrayOfutblOrderAcknowledgementBasketLineItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="utblOrderAcknowledgementBasketLineItems" type="ns3:utblOrderAcknowledgementBasketLineItems" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfutblOrderAcknowledgementBasketLineItems" nillable="true" type="ns3:ArrayOfutblOrderAcknowledgementBasketLineItems" />
</xs:schema>